body {
  font-family: 'Josefin Slab', Times, serif;
  text-align: center;
  margin-top: 60px;
  background-color: #888;
}

div.title-banner {
  font-size: 24px;
  font-style: italic;
}

h1.title-text {
  font-family: 'Fredericka the Great', cursive;
  font-weight: normal;
  font-style: normal;
  font-size: 90px;
  margin-bottom: 20px;
}

hr {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

h2 {
  font-size: 200%;
  text-align: left;
}

h3 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

a {
  color: #444;
}

img.dragon {
  height: 220px;
  width: 220px;
}
